In [1]:
%load_ext autotime
import geopandas as gpd
import pandas as pd
import numpy as np
from tqdm.auto import tqdm
import statsmodels.api as sm
import shapely
from tqdm.contrib.concurrent import process_map
from glob import glob
pd.set_option('display.max_columns', None)

/home/nyou045/retrolens/venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
shorelines = gpd.read_file("Data for testing/NZCCDv1.shp")
shorelines

,Region,Site,Digitiser,Scale,Notes,Source,CPS,Proxy,Photoscale,Georef_ER,Pixel_Er,Total_UNCY,USDate,SHLength,Date,ID,geometry
0,Auckland,KarekareBethells,MW,2000,tod,RL,4,1,40000,5.03,1.416425,5.620681,01/02/2004,1.265403,2004-01-02,0.0,"LINESTRING Z (1728907.5 5916213.248 0, 1728868..."
1,Auckland,KarekareBethells,MW,2000,tod,RL,4,1,40000,5.03,1.416425,5.620681,01/02/2004,0.307010,2004-01-02,1.0,"LINESTRING Z (1729067.838 5914779.733 0, 17290..."
2,Auckland,KarekareBethells,MW,2000,tod (landward),RL,4,1,40000,5.03,1.416425,5.620681,01/02/2004,0.255243,2004-01-02,2.0,"LINESTRING Z (1729647.881 5911983.994 0, 17296..."
3,Auckland,KarekareBethells,MW,2000,tod,RL,3,1,40000,5.03,1.416425,5.314890,01/02/2004,1.107251,2004-01-02,3.0,"MULTILINESTRING Z ((1728131.079 5917218.888 0,..."
4,Auckland,KarekareBethells,MW,2000,tod,RL,4,1,40000,5.03,1.416425,5.620681,01/02/2004,0.770375,2004-01-02,4.0,"MULTILINESTRING Z ((1729643.228 5912906.682 0,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19661,West Coast,WoodpeckerBay,MD,1000,EdgeVeg,RL,2,1,18800,4.00,0.630693,3.736680,11/18/1948,1.191368,1948-11-18,19661.0,"LINESTRING Z (1467237.671 5348414.193 0, 14672..."
19662,Otago,Oamaru,TK,1500,Top of cliff,Max,3,2,0,2.02,0.412236,2.278429,04/04/2018,0.650952,2018-04-04,19662.0,"LINESTRING Z (1444386.944 5008247.367 0, 14443..."
19663,Otago,Oamaru,TK,1500,Top of cliff,Max,3,2,0,2.02,0.412236,2.278429,04/04/2018,0.179434,2018-04-04,19663.0,"LINESTRING Z (1444860.629 5008686.925 0, 14448..."
19664,Otago,Oamaru,TK,1500,Top of cliff,Max,3,2,0,2.02,0.412236,2.278429,04/04/2018,0.174825,2018-04-04,19664.0,"LINESTRING Z (1444996.286 5008822.252 0, 14450..."
19665,Otago,Oamaru,TK,1509,Top of cliff,Max,3,2,0,2.02,0.412236,2.278429,04/04/2018,0.699719,2018-04-04,19665.0,"LINESTRING Z (1445121.287 5008941.631 0, 14451..."

In [3]:
transects = pd.concat(gpd.read_file(f).set_index("Unique_ID") for f in glob("Data for testing/Unique_ID_transects/*.shp"))
transects

/home/nyou045/retrolens/venv/lib/python3.10/site-packages/pyogrio/raw.py:196: UserWarning: Measured (M) geometry types are not supported. Original type 'Measured 3D LineString' is converted to 'LineString Z'
  return ogr_read(
/home/nyou045/retrolens/venv/lib/python3.10/site-packages/pyogrio/raw.py:196: UserWarning: Measured (M) geometry types are not supported. Original type 'Measured 3D LineString' is converted to 'LineString Z'
  return ogr_read(
/home/nyou045/retrolens/venv/lib/python3.10/site-packages/pyogrio/raw.py:196: UserWarning: Measured (M) geometry types are not supported. Original type 'Measured 3D LineString' is converted to 'LineString Z'
  return ogr_read(
/home/nyou045/retrolens/venv/lib/python3.10/site-packages/pyogrio/raw.py:196: UserWarning: Measured (M) geometry types are not supported. Original type 'Measured 3D LineString' is converted to 'LineString Z'
  return ogr_read(
/home/nyou045/retrolens/venv/lib/python3.10/site-packages/pyogrio/raw.py:196: UserWarning: Measured (M) geometry types are not supported. Original type 'Measured 3D LineString' is converted to 'LineString Z'
  return ogr_read(

                                                       geometry
Unique_ID
1.005226e+11  LINESTRING Z (1680443.328 5669799.874 0, 16804...
1.005226e+11  LINESTRING Z (1680451.296 5669793.831 0, 16804...
1.005226e+11  LINESTRING Z (1680459.263 5669787.788 0, 16804...
1.005227e+11  LINESTRING Z (1680467.271 5669781.803 0, 16804...
1.005227e+11  LINESTRING Z (1680475.694 5669776.413 0, 16804...
...                                                         ...
2.020008e+11  LINESTRING Z (1616477.032 5429332.43 0, 161634...
2.020008e+11  LINESTRING Z (1616467.288 5429330.182 0, 16163...
2.020008e+11  LINESTRING Z (1616457.544 5429327.935 0, 16163...
2.020008e+11  LINESTRING Z (1616435.945 5429323.553 0, 16163...
2.020008e+11  LINESTRING Z (1616426.083 5429321.896 0, 16163...

[228613 rows x 1 columns]

In [4]:
transects.geometry.apply(lambda g: len(g.coords)).value_counts()

geometry
2    228070
3       543
Name: count, dtype: int64

In [5]:
rates = gpd.read_file("kx-nzccd-coastal-change-rates-SHP.zip")
rates

,ShrCount,LRR,LR2,LCI,LSE,EPR,EPRunc,NSM,SCE,WLR,WR2,WCI,WSE,TCD,Region,UniqueID,Start_date,End_date,Duration,geometry
0,13.0,-0.27,0.80,0.07,3.20,-0.27,0.05,-19.30,24.84,-0.23,0.65,0.09,1.37,4015.900000,Waikato,1.005336e+11,1950-04-01,2022-02-15,71,POINT (1740823.984 5718945.283)
1,9.0,0.58,0.91,0.13,5.14,0.56,0.07,39.42,39.42,0.55,0.93,0.10,1.14,44129.150000,Tasman,2.000050e+11,1950-10-11,2021-03-13,70,POINT (1573804.234 5506243.949)
2,13.0,-0.16,0.07,0.32,16.77,-0.07,0.06,-5.38,44.09,-0.19,0.08,0.34,4.94,7410.848139,Tasman,2.010001e+11,1940-02-22,2020-07-01,80,POINT (1602827.257 5444493.261)
3,13.0,-0.22,0.13,0.30,15.96,-0.12,0.06,-9.85,44.06,-0.25,0.15,0.32,4.70,7420.848139,Tasman,2.010001e+11,1940-02-22,2020-07-01,80,POINT (1602821.392 5444501.389)
4,13.0,-0.26,0.19,0.28,15.15,-0.18,0.06,-14.58,44.19,-0.29,0.21,0.30,4.41,7430.848139,Tasman,2.010001e+11,1940-02-22,2020-07-01,80,POINT (1602815.442 5444509.464)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228608,5.0,0.01,0.05,0.08,1.81,-0.02,0.07,-1.50,3.73,0.00,0.00,0.13,0.97,3223.050000,Auckland,1.010019e+11,1961-11-02,2022-12-21,61,POINT (1784449.725 5926935.288)
228609,5.0,0.06,0.63,0.07,1.45,0.03,0.07,1.91,4.73,0.05,0.36,0.09,0.71,3233.050000,Auckland,1.010019e+11,1961-11-02,2022-12-21,61,POINT (1784439.931 5926939.809)
228610,5.0,0.06,0.64,0.06,1.27,0.03,0.07,1.74,4.23,0.07,0.46,0.10,0.74,3243.050000,Auckland,1.010019e+11,1961-11-02,2022-12-21,61,POINT (1784431.172 5926944.695)
228611,5.0,0.03,0.34,0.06,1.26,0.00,0.07,0.18,2.73,0.04,0.22,0.09,0.70,3253.050000,Auckland,1.010019e+11,1961-11-02,2022-12-21,61,POINT (1784423.016 5926950.491)
228612,5.0,0.04,0.67,0.04,0.87,0.03,0.07,1.54,3.06,0.03,0.18,0.08,0.59,3263.050000,Auckland,1.010019e+11,1961-11-02,2022-12-21,61,POINT (1784415.426 5926957.131)

In [6]:
rates.Region.value_counts()

Region
Northland      37274
Canterbury     21881
WestCoast      20990
Taranaki       17050
Waikato        16589
Otago          15425
BayOfPlenty    13902
HawkesBay      13494
Southland      12382
Auckland       11494
Wellington     11154
Manawatu       10443
Tasman         10102
Gisborne        8314
Marlborough     5083
Nelson          3036
Name: count, dtype: int64

In [42]:
def process_row(Unique_ID):
    transect = transects.geometry[Unique_ID]
    # This function reproduces the statistics described in https://pubs.usgs.gov/of/2021/1091/ofr20211091.pdf
    shorelines["intersect_point"] = shorelines.intersection(transect)
    df = shorelines[~shorelines.intersect_point.is_empty].sort_values("Date")
    if len(df) < 3:
        print(f"{Unique_ID} has only {len(df)} shorelines")
        return {}
    df.Date = pd.to_datetime(df.Date)
    df["YearsSinceBase"] = (df.Date - df.Date.min()).dt.days / 365.25
    transect_origin = shapely.get_point(transect, -1)
    df["Distance"] = df.intersect_point.distance(transect_origin)
    LR = sm.OLS(df.Distance, sm.add_constant(df.YearsSinceBase)).fit()
    low, high = LR.conf_int(alpha=.1).loc["YearsSinceBase"]
    LCI = (high - low) / 2
    WLR = sm.WLS(df.Distance, sm.add_constant(df.YearsSinceBase), weights=1 / df.Total_UNCY ** 2).fit()
    low, high = WLR.conf_int(alpha=.1).loc["YearsSinceBase"]
    WCI = (high - low) / 2
    duration = (df.Date.max() - df.Date.min()).days / 365.25
    assert duration > 0, f"{Unique_ID} has a duration of {duration}"
    NSM = df.intersect_point.iloc[0].distance(df.intersect_point.iloc[-1])
    return {
        "UniqueID": Unique_ID,
        "Region": df.Region.value_counts().idxmax(),
        "Start_date": str(df.Date.min().date()),
        "End_date": str(df.Date.max().date()),
        "Duration": round(duration),
        "ShrCount": len(df),
        "NSM": round(NSM, 2),
        "SCE": df.intersect_point.apply(lambda p: df.intersect_point.distance(p).max()).max().round(2),
        "EPR": round(NSM / duration, 2),
        "EPRunc": round(np.sqrt(df.Total_UNCY.iloc[0] ** 2 + df.Total_UNCY.iloc[-1] ** 2) / duration, 2),
        "LRR": LR.params.YearsSinceBase.round(2),
        "LRI": LR.params.const.round(2),
        "LCI": round(LCI, 2),
        "LSE": np.sqrt(LR.mse_resid).round(2),
        "LR2": LR.rsquared.round(2),
        "WLR": WLR.params.YearsSinceBase.round(2),
        "WLI": WLR.params.const.round(2),
        "WCI": round(WCI, 2),
        "WSE": np.sqrt(WLR.mse_resid).round(2),
        "WR2": WLR.rsquared.round(2),
        "geometry": transect,
        "Dates": df.Date.dt.strftime("%Y-%m-%d").tolist(),
        "Distances": df.Distance.round(2).tolist(),
    }

results = process_map(process_row, transects.index, chunksize=100, max_workers=64)
rates = gpd.GeoDataFrame(results, crs=2193)
rates

  0%|          | 0/228613 [00:00<?, ?it/s]

100260096672.0 has only 2 shorelines

  4%|▎         | 8142/228613 [00:13<03:51, 952.95it/s]

100191251944.0 has only 2 shorelines

  4%|▎         | 8301/228613 [00:16<10:46, 340.58it/s]

100586128441.0 has only 2 shorelines
100586130639.0 has only 2 shorelines

 11%|█         | 25501/228613 [00:35<02:52, 1174.53it/s]

100388183085.0 has only 2 shorelines

 20%|█▉        | 44901/228613 [00:58<03:36, 848.26it/s]

100500165830.0 has only 2 shorelines

 21%|██▏       | 49001/228613 [01:02<06:15, 478.58it/s]

100496838754.0 has only 2 shorelines

 27%|██▋       | 61501/228613 [01:17<03:03, 912.18it/s]

100127952623.0 has only 2 shorelines

 28%|██▊       | 63858/228613 [01:20<03:34, 767.31it/s]

100792148508.0 has only 2 shorelines

 30%|██▉       | 68301/228613 [01:26<02:38, 1008.29it/s]

100789292355.0 has only 2 shorelines

 32%|███▏      | 73301/228613 [01:34<04:14, 610.22it/s]

100789991912.0 has only 2 shorelines

 36%|███▌      | 81809/228613 [01:43<02:42, 905.35it/s]

100040911173.0 has only 2 shorelines

 36%|███▌      | 82001/228613 [01:44<03:52, 630.26it/s]

100046300028.0 has only 2 shorelines

 37%|███▋      | 83801/228613 [01:47<04:02, 597.67it/s]

100054260026.0 has only 2 shorelines

 44%|████▍     | 101401/228613 [02:07<04:13, 502.79it/s]

100530318598.0 has only 2 shorelines

 44%|████▍     | 101501/228613 [02:07<04:40, 452.93it/s]

100519527017.0 has only 2 shorelines

 47%|████▋     | 106801/228613 [02:14<03:56, 514.18it/s]

100519280084.0 has only 2 shorelines

 52%|█████▏    | 120001/228613 [02:29<01:33, 1162.94it/s]

100535645017.0 has only 2 shorelines
100268354101.0 has only 2 shorelines

 53%|█████▎    | 122101/228613 [02:32<02:04, 853.75it/s]

100467836937.0 has only 2 shorelines
100467837974.0 has only 2 shorelines
100467838995.0 has only 2 shorelines
100467840004.0 has only 2 shorelines
100467841007.0 has only 2 shorelines

 53%|█████▎    | 122301/228613 [02:33<02:34, 689.71it/s]

100467842008.0 has only 2 shorelines
100467843010.0 has only 2 shorelines

 54%|█████▎    | 122701/228613 [02:34<02:33, 689.13it/s]

100467823055.0 has only 2 shorelines
100467824082.0 has only 2 shorelines

 55%|█████▌    | 125801/228613 [02:38<02:34, 664.63it/s]

100495183848.0 has only 1 shorelines
100495184849.0 has only 2 shorelines
100495185849.0 has only 2 shorelines
100495186849.0 has only 2 shorelines
100495187849.0 has only 2 shorelines
100495188849.0 has only 2 shorelines
100495189849.0 has only 2 shorelines
100495190850.0 has only 2 shorelines
100495191851.0 has only 2 shorelines
100495192851.0 has only 2 shorelines
100495193852.0 has only 2 shorelines
100495194853.0 has only 2 shorelines
100495195853.0 has only 2 shorelines
100495196854.0 has only 2 shorelines
100494792931.0 has only 2 shorelines
100495197854.0 has only 2 shorelines
100495198854.0 has only 2 shorelines
100495199854.0 has only 2 shorelines
100495200854.0 has only 2 shorelines
100495201854.0 has only 2 shorelines
100495202854.0 has only 2 shorelines

 56%|█████▌    | 127901/228613 [02:40<02:16, 735.30it/s]

100495815347.0 has only 2 shorelines
100495816347.0 has only 2 shorelines

 56%|█████▋    | 128601/228613 [02:41<02:12, 755.06it/s]

100465086737.0 has only 2 shorelines
100495817347.0 has only 2 shorelines

 57%|█████▋    | 130201/228613 [02:42<01:32, 1066.83it/s]

100495818347.0 has only 2 shorelines
100495819347.0 has only 2 shorelines
100495820348.0 has only 2 shorelines
100495821348.0 has only 2 shorelines
100495823348.0 has only 2 shorelines
100495824348.0 has only 2 shorelines

 57%|█████▋    | 130501/228613 [02:43<01:31, 1074.03it/s]

100466328729.0 has only 2 shorelines

 61%|██████    | 138501/228613 [02:53<01:59, 754.18it/s]

200520123537.0 has only 2 shorelines

 62%|██████▏   | 140801/228613 [02:56<02:07, 690.25it/s]

200504484631.0 has only 2 shorelines

 63%|██████▎   | 144379/228613 [02:59<01:46, 792.91it/s]

200517070651.0 has only 2 shorelines

 70%|███████   | 160101/228613 [03:18<01:23, 820.62it/s]

200021273438.0 has only 2 shorelines

 71%|███████▏  | 162901/228613 [03:22<01:16, 857.85it/s]

200409446488.0 has only 2 shorelines

 75%|███████▍  | 171301/228613 [03:31<00:53, 1075.16it/s]

200343205950.0 has only 2 shorelines

 81%|████████  | 184101/228613 [03:48<01:05, 674.50it/s]

200262081254.0 has only 2 shorelines

 91%|█████████ | 207301/228613 [04:16<00:24, 875.70it/s]

200188395856.0 has only 2 shorelines
200213355697.0 has only 2 shorelines

 92%|█████████▏| 209401/228613 [04:19<00:23, 806.66it/s]

200189193058.0 has only 2 shorelines

 93%|█████████▎| 212801/228613 [04:22<00:13, 1134.29it/s]

200243146474.0 has only 2 shorelines

 95%|█████████▌| 218101/228613 [04:30<00:15, 657.21it/s]

200236244789.0 has only 2 shorelines

 96%|█████████▌| 218501/228613 [04:30<00:14, 720.22it/s]

101011522100.0 has only 2 shorelines

 96%|█████████▋| 220501/228613 [04:33<00:09, 860.39it/s]

200247583487.0 has only 2 shorelines
101011595606.0 has only 2 shorelines

100%|██████████| 228613/228613 [04:38<00:00, 820.76it/s]

,UniqueID,Region,Start_date,End_date,Duration,ShrCount,NSM,SCE,EPR,EPRunc,LRR,LRI,LCI,LSE,LR2,WLR,WLI,WCI,WSE,WR2,geometry,Dates,Distances
0,1.005226e+11,Taranaki,1970-02-10,2022-01-14,52.0,5.0,15.55,16.84,0.30,0.2,0.24,254.74,0.37,6.55,0.43,0.28,251.99,0.64,2.10,0.26,"LINESTRING Z (1680443.328 5669799.874 0, 16804...","[1970-02-10, 2000-01-14, 2011-03-11, 2016-10-3...","[255.9, 263.3, 254.61, 268.75, 271.45]"
1,1.005226e+11,Taranaki,1970-02-10,2022-01-14,52.0,5.0,12.63,18.04,0.24,0.2,0.13,256.22,0.41,7.16,0.16,0.11,254.58,0.55,1.78,0.07,"LINESTRING Z (1680451.296 5669793.831 0, 16804...","[1970-02-10, 2000-01-14, 2011-03-11, 2016-10-3...","[257.08, 263.2, 251.66, 261.86, 269.71]"
2,1.005226e+11,Taranaki,1970-02-10,2022-01-14,52.0,5.0,12.84,18.47,0.25,0.2,0.14,255.97,0.41,7.25,0.17,0.13,254.12,0.58,1.88,0.08,"LINESTRING Z (1680459.263 5669787.788 0, 16804...","[1970-02-10, 2000-01-14, 2011-03-11, 2016-10-3...","[257.06, 262.65, 251.43, 262.53, 269.9]"
3,1.005227e+11,Taranaki,1970-02-10,2022-01-14,52.0,5.0,13.68,20.25,0.26,0.2,0.17,256.36,0.45,7.98,0.20,0.20,253.60,0.72,2.35,0.12,"LINESTRING Z (1680467.271 5669781.803 0, 16804...","[1970-02-10, 2000-01-14, 2011-03-11, 2016-10-3...","[258.21, 262.32, 251.63, 266.53, 271.88]"
4,1.005227e+11,Taranaki,1970-02-10,2022-01-14,52.0,5.0,15.01,21.27,0.29,0.2,0.19,256.26,0.47,8.25,0.23,0.21,253.57,0.73,2.37,0.13,"LINESTRING Z (1680475.694 5669776.413 0, 16804...","[1970-02-10, 2000-01-14, 2011-03-11, 2016-10-3...","[258.36, 262.33, 252.1, 267.13, 273.36]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228608,2.020008e+11,Tasman,1969-09-22,2021-03-18,51.0,7.0,55.75,280.29,1.08,0.1,-1.70,153.41,3.44,97.44,0.17,-1.98,170.29,3.08,23.83,0.25,"LINESTRING Z (1616477.032 5429332.43 0, 161634...","[1969-09-22, 1969-09-22, 1981-01-11, 2010-02-1...","[314.21, 33.91, 68.63, 135.44, 78.3, 51.05, 58..."
228609,2.020008e+11,Tasman,1969-09-22,2021-03-18,51.0,8.0,50.29,306.31,0.98,0.1,-1.58,145.42,3.53,104.92,0.11,-2.28,180.71,3.58,28.75,0.20,"LINESTRING Z (1616467.288 5429330.182 0, 16163...","[1969-09-22, 1969-09-22, 1981-01-11, 2006-12-1...","[316.12, 9.81, 46.87, 178.64, 116.03, 52.22, 3..."
228610,2.020008e+11,Tasman,1969-09-22,2021-03-18,51.0,7.0,42.42,55.67,0.82,0.1,-3.75,218.78,3.61,86.99,0.47,-4.64,265.15,3.25,20.37,0.62,"LINESTRING Z (1616457.544 5429327.935 0, 16163...","[1969-09-22, 1981-01-11, 2006-12-14, 2010-02-1...","[318.95, 24.48, 135.29, 95.8, 31.5, 16.5, 30.71]"
228611,2.020008e+11,Tasman,1969-09-22,2021-03-18,51.0,8.0,38.94,302.58,0.76,0.1,-1.72,148.57,3.38,100.55,0.14,-2.30,178.44,3.25,26.12,0.24,"LINESTRING Z (1616435.945 5429323.553 0, 16163...","[1969-09-22, 1969-09-22, 1981-01-11, 2006-12-1...","[319.74, 17.16, 48.95, 156.51, 110.25, 53.65, ..."
228612,2.020008e+11,Tasman,1969-09-22,2021-03-18,51.0,7.0,35.21,68.22,0.68,0.1,-3.81,221.33,3.48,83.85,0.49,-4.57,261.53,2.99,18.72,0.65,"LINESTRING Z (1616426.083 5429321.896 0, 16163...","[1969-09-22, 1981-01-11, 2006-12-14, 2010-02-1...","[322.08, 30.1, 122.71, 93.24, 35.74, 20.47, 33..."

In [43]:
points = pd.concat(gpd.read_file(f) for f in glob("Data for testing/Unique_ID_points/*.shp"))
points

        Unique_ID                             geometry
0    2.010001e+11  POINT Z (1602827.257 5444493.261 0)
1    2.010001e+11  POINT Z (1602821.392 5444501.389 0)
2    2.010001e+11  POINT Z (1602815.442 5444509.464 0)
3    2.010001e+11  POINT Z (1602809.485 5444517.535 0)
4    2.010001e+11  POINT Z (1602803.528 5444525.605 0)
..            ...                                  ...
571  1.010019e+11  POINT Z (1784449.725 5926935.288 0)
572  1.010019e+11  POINT Z (1784439.931 5926939.809 0)
573  1.010019e+11  POINT Z (1784431.172 5926944.695 0)
574  1.010019e+11  POINT Z (1784423.016 5926950.491 0)
575  1.010019e+11  POINT Z (1784415.426 5926957.131 0)

[228613 rows x 2 columns]

In [44]:
rates_with_timeseries = gpd.GeoDataFrame(rates.drop(columns="geometry").merge(points, left_on="UniqueID", right_on="Unique_ID").drop(columns="Unique_ID"))
rates_with_timeseries["lat"] = rates_with_timeseries.geometry.to_crs(4326).y
rates_with_timeseries["lon"] = rates_with_timeseries.geometry.to_crs(4326).x
rates_with_timeseries.drop(columns="geometry").to_parquet("rates_with_timeseries.parquet")
rates_with_timeseries

,UniqueID,Region,Start_date,End_date,Duration,ShrCount,NSM,SCE,EPR,EPRunc,LRR,LRI,LCI,LSE,LR2,WLR,WLI,WCI,WSE,WR2,Dates,Distances,geometry,lat,lon
0,1.005226e+11,Taranaki,1970-02-10,2022-01-14,52.0,5.0,15.55,16.84,0.30,0.2,0.24,254.74,0.37,6.55,0.43,0.28,251.99,0.64,2.10,0.26,"[1970-02-10, 2000-01-14, 2011-03-11, 2016-10-3...","[255.9, 263.3, 254.61, 268.75, 271.45]",POINT Z (1680425.889 5669776.879 0),-39.117458,173.930326
1,1.005226e+11,Taranaki,1970-02-10,2022-01-14,52.0,5.0,12.63,18.04,0.24,0.2,0.13,256.22,0.41,7.16,0.16,0.11,254.58,0.55,1.78,0.07,"[1970-02-10, 2000-01-14, 2011-03-11, 2016-10-3...","[257.08, 263.2, 251.66, 261.86, 269.71]",POINT Z (1680434.051 5669771.092 0),-39.117509,173.930421
2,1.005226e+11,Taranaki,1970-02-10,2022-01-14,52.0,5.0,12.84,18.47,0.25,0.2,0.14,255.97,0.41,7.25,0.17,0.13,254.12,0.58,1.88,0.08,"[1970-02-10, 2000-01-14, 2011-03-11, 2016-10-3...","[257.06, 262.65, 251.43, 262.53, 269.9]",POINT Z (1680442.258 5669765.365 0),-39.117560,173.930516
3,1.005227e+11,Taranaki,1970-02-10,2022-01-14,52.0,5.0,13.68,20.25,0.26,0.2,0.17,256.36,0.45,7.98,0.20,0.20,253.60,0.72,2.35,0.12,"[1970-02-10, 2000-01-14, 2011-03-11, 2016-10-3...","[258.21, 262.32, 251.63, 266.53, 271.88]",POINT Z (1680452.426 5669758.607 0),-39.117620,173.930635
4,1.005227e+11,Taranaki,1970-02-10,2022-01-14,52.0,5.0,15.01,21.27,0.29,0.2,0.19,256.26,0.47,8.25,0.23,0.21,253.57,0.73,2.37,0.13,"[1970-02-10, 2000-01-14, 2011-03-11, 2016-10-3...","[258.36, 262.33, 252.1, 267.13, 273.36]",POINT Z (1680460.929 5669753.342 0),-39.117667,173.930734
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228533,2.020008e+11,Tasman,1969-09-22,2021-03-18,51.0,7.0,55.75,280.29,1.08,0.1,-1.70,153.41,3.44,97.44,0.17,-1.98,170.29,3.08,23.83,0.25,"[1969-09-22, 1969-09-22, 1981-01-11, 2010-02-1...","[314.21, 33.91, 68.63, 135.44, 78.3, 51.05, 58...",POINT Z (1616403.774 5429650.065 0),-41.284422,173.195892
228534,2.020008e+11,Tasman,1969-09-22,2021-03-18,51.0,8.0,50.29,306.31,0.98,0.1,-1.58,145.42,3.53,104.92,0.11,-2.28,180.71,3.58,28.75,0.20,"[1969-09-22, 1969-09-22, 1981-01-11, 2006-12-1...","[316.12, 9.81, 46.87, 178.64, 116.03, 52.22, 3...",POINT Z (1616396.401 5429637.534 0),-41.284535,173.195804
228535,2.020008e+11,Tasman,1969-09-22,2021-03-18,51.0,7.0,42.42,55.67,0.82,0.1,-3.75,218.78,3.61,86.99,0.47,-4.64,265.15,3.25,20.37,0.62,"[1969-09-22, 1981-01-11, 2006-12-14, 2010-02-1...","[318.95, 24.48, 135.29, 95.8, 31.5, 16.5, 30.71]",POINT Z (1616388.254 5429628.361 0),-41.284618,173.195707
228536,2.020008e+11,Tasman,1969-09-22,2021-03-18,51.0,8.0,38.94,302.58,0.76,0.1,-1.72,148.57,3.38,100.55,0.14,-2.30,178.44,3.25,26.12,0.24,"[1969-09-22, 1969-09-22, 1981-01-11, 2006-12-1...","[319.74, 17.16, 48.95, 156.51, 110.25, 53.65, ...",POINT Z (1616385.177 5429625.739 0),-41.284642,173.195670
228537,2.020008e+11,Tasman,1969-09-22,2021-03-18,51.0,7.0,35.21,68.22,0.68,0.1,-3.81,221.33,3.48,83.85,0.49,-4.57,261.53,2.99,18.72,0.65,"[1969-09-22, 1981-01-11, 2006-12-14, 2010-02-1...","[322.08, 30.1, 122.71, 93.24, 35.74, 20.47, 33...",POINT Z (1616376.184 5429618.914 0),-41.284704,173.195563

In [55]:
rates_with_timeseries.to_excel("rates_with_timeseries.xlsx", index=False)

In [51]:
rates_with_timeseries.UniqueID = rates_with_timeseries.UniqueID.astype(str)
rates_with_timeseries.dtypes

UniqueID        object
Region          object
Start_date      object
End_date        object
Duration       float64
ShrCount       float64
NSM            float64
SCE            float64
EPR            float64
EPRunc         float64
LRR            float64
LRI            float64
LCI            float64
LSE            float64
LR2            float64
WLR            float64
WLI            float64
WCI            float64
WSE            float64
WR2            float64
Dates           object
Distances       object
geometry      geometry
lat            float64
lon            float64
dtype: object

In [53]:
rates_with_timeseries.to_file("rates_with_timeseries.shp")

/home/nyou045/retrolens/venv/lib/python3.10/site-packages/pyogrio/raw.py:709: RuntimeWarning: Value '['1940-04-14', '1949-03-29', '1960-08-19', '1969-04-30', '1980-10-24', '1987-11-17', '2002-04-26', '2009-12-24', '2010-04-07', '2010-11-07', '2011-09-23', '2014-11-29', '2015-03-01', '2016-04-05', '2017-10-23', '2019-03-22', '2020-05-18', '2021-03-21', '2024-04-30']' of field Dates has been truncated to 254 characters.  This warning will not be emitted any more for that layer.
  ogr_write(